.photo-album{
  padding:48px;
}
.album-title {
  cursor: pointer;
  border: solid 1px #808080;
  padding-bottom: 8px;
  margin-bottom: 8px;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
